.kit-login {
	position: relative;
	height: 100vh;
}

.kit-login-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url(../img/loginBG.jpg) no-repeat center center;
	background-size: cover;
	filter: blur(2px);
}

.kit-login-wapper {
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 1080px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.kit-login-wapper .kit-login-slogan {
	text-align: center;
	color: #fff;
	font-size: 36px;
	letter-spacing: 2px;
	line-height: 48px;
	margin-bottom: 9px;
	font-weight: 500;
}

.kit-login-wapper .kit-login-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 30px 40px;
	background: #FFF;
	border-radius: 6px;
	box-shadow: #eeeeee 1px 1px 2px;
}

.kit-login-wapper .kit-login-form:hover {
	box-shadow: 5px 5px 30px 2px #ccc;
}

.kit-login-wapper .kit-login-title {
	font-weight: 400;
	line-height: 24px;
	font-size: 16px;
	margin: 0px 0px 20px;
	text-align: center;
	color: #009688;
	letter-spacing: 12px;
}

.kit-login-wapper .kit-login-row {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin-bottom: 25px;
	flex-direction: column;
}

.kit-login-wapper .kit-login-row .kit-login-btn {
	border-radius: 20px;
	line-height: 32px;
	height: 32px;
}

.kit-login-wapper .kit-login-row .kit-login-col {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.kit-login-wapper .kit-login-row .kit-login-col>i.layui-icon {
	position: absolute;
	left: 5px;
	top: 5px;
	color: #999999;
	display: inline-block;
	font-style: normal;
	-webkit-text-stroke-width: .2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kit-login-wapper .kit-login-row .kit-login-col .kit-login-input {
	width: 240px;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-table;
	overflow: visible;
	border: 1px solid #E0E0E0;
	background-color: #FFF;
	transition: all 0.3s ease-out;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-color: #dcdcdc;
}

.kit-login-wapper .kit-login-row .kit-login-col .kit-login-input:hover {
	border-bottom: 1px solid #38AB69;
}

.kit-login-wapper .kit-login-row .kit-login-col .kit-login-input input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: none;
	outline: 0;
	padding: 0;
	padding-left: 31px!important;
	font-weight: 400;
	vertical-align: baseline;
	background-color: transparent;
	height: 26px;
	line-height: 26px\9;
	margin: 0;
	padding: 0 8px;
	border-radius: 4px;
	color: #333;
	padding-left: 25px;
	font-size: 13px;
}